@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Orbitron:wght@700&display=swap');

body {
  font-family: 'Hind', sans-serif;
}

.heading-lg {
  font-size: 3.157rem;
  font-family: 'Montserrat', sans-serif;
}

.heading-md {
  font-size: 2.369rem;
  font-family: 'Montserrat', sans-serif;
}

.heading-sm {
  font-size: 1.777rem;
  font-family: 'Montserrat', sans-serif;
}

.body-lg {
  font-size: 1.333rem;
  font-family: 'Hind', sans-serif;
}

.body-md {
  font-size: 1rem;
  font-family: 'Hind', sans-serif;
}

.body-sm {
  font-size: 0.75rem;
  font-family: 'Hind', sans-serif;
}
