:root {
  --red-50: #f7e8e9;
  --red-100: #e7b9bb;
  --red-200: #dc979a;
  --red-300: #cc686c;
  --red-400: #c24a50;
  --red-500: #b31d24;
  --red-600: #a31a21;
  --red-700: #7f151a;
  --red-800: #621014;
  --red-900: #4b0c0f;

  --grey-50: #ececec;
  --grey-100: #c3c3c3;
  --grey-200: #a5a5a5;
  --grey-300: #7c7c7c;
  --grey-400: #636363;
  --grey-500: #3c3c3c;
  --grey-600: #373737;
  --grey-700: #2b2b2b;
  --grey-800: #212121;
  --grey-900: #191919;

  --white-500: #ffffff;
  --white-600: #e8e8e8;
  --white-700: #b5b5b5;
  --white-800: #8c8c8c;
  --white-900: #6b6b6b;

  --disabled: rgba(31, 31, 31, 0.12);

  color-scheme: dark;
}
