.box-example--wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box-example {
  width: 200px;
  height: 200px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/**
Box Shadow numbers are based off the 93 Beautiful Box Shadows here: https://getcssscan.com/css-box-shadow-examples
**/

.box-shadow--1 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.box-shadow--2 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box-shadow--3 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-shadow--4 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.box-shadow--5 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-shadow--6 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box-shadow--7 {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.box-shadow--8 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.box-shadow--9 {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box-shadow--10 {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.box-shadow--11 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.box-shadow--12 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.box-shadow--13 {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.box-shadow--14 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.box-shadow--15 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.box-shadow--16 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.box-shadow--17 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.box-shadow--18 {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 4px 0px;
}

.box-shadow--19 {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,
    rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.box-shadow--20 {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.box-shadow--21 {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.box-shadow--22 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.box-shadow--23 {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.box-shadow--24 {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
